* {
    margin: 0.125rem;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    height: 3.5rem;
}

.content {
    font-family: 'Potta One', cursive;
}

.container {
    width: 50vw;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

img {
    width: 2.5rem;
    height: 1.8rem;
}

.toolbar-item button {
    cursor: pointer !important;
    color: white !important;
    border: 0.0625rem solid white !important;
    border-radius: 0.93rempx !important;
    padding: 0.3125rem 0.875rem !important;
}

.name {
    color: green;
    position: absolute;
    left: 1.8rem;
    font-weight: bold;
    padding: 0.75rem 0.75rem;
    font-family: 'Potta One', cursive;
}

.jaaan {
    color: green;
    position: absolute;
    right: 1.8rem;
    font-weight: bold;
    padding: 0.75rem 0.75rem;
    font-family: 'Potta One', cursive;
}

p {
    margin: 0.625rem 5.18rem;
    font-size: 1.2rem;
}

h3 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media(min-width:400px) and (max-width:500) {
    html {
        font-size: 45%;
    }
}

@media(min-height:300px) and (max-width:400px) {
    html {
        font-size: 35%;
    }
}